.modal-head{margin-top:-5px;}
.customOverlay {background: rgb(171 171 171 / 70%);}
 .customModal {    max-width: 500px;width: 100%;border-radius: 9px;}
.customModal h2 {font-weight: 500;}
.field-group span{color: orange;}
.field-group label {width: 100%;display: block;color: grey;margin-bottom: 10px;}
.field-group {padding: 10px;}
.field-group .input {padding: 10px;width: 95%;border: 1px solid grey;border-radius: 5px;}
.field-group select{padding: 10px;width: 100%;border: 1px solid grey;border-radius: 5px;}
.field-group-half {width: 50%;float: left;}
.field-group-half .input {padding: 10px;width: 100px;}
.field-group-half label {    width: 50px;display: inline-block;}
textarea.input-textarea {width: 96%;height: 100px;border-radius: 5px;padding: 10px;border: 1px solid grey;}
.field-group.margin-top {margin-top: 30px;}
.field-group.btn-group {text-align: right;}
.field-group.btn-group button{border: 0;padding: 10px 20px;border-radius: 10px;color: #fff;font-weight: bold;cursor: pointer;}
button.cancelBtn {background: #718399; margin-right: 15px;}
button.saveBtn {background: orange;        }
.error-text{color: red;margin-top: 0;font-weight: bold;letter-spacing: 1px;}